<!DOCTYPE html>
<html>
   <head><title>Today - {{userName}}</title></head>
   <body>
      Welcome {{userName}}
      <ul>
          {{#stories}}
             <li id="story-title-{{id}}">{{title}} 
                  <span id="story-badge-{{id}}">
                     {{#noBadge}}(no badge){{/noBadge}}
                     {{#bronzeBadge}}(bronze badge){{/bronzeBadge}}
                     {{#silverBadge}}(silver badge){{/silverBadge}}
                     {{#goldBadge}}(gold badge){{/goldBadge}}
                  </span>
             </li>
          {{/stories}}
      </ul>
   </body>
</html>